/*RESET*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*Body*/
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color:#333;
    line-height: 1.6;
    padding-bottom: 50px;
}

nav{
    background-color: #111827;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 40px;

}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
nav a:hover{
    color:#60a5fa;
}

/*Hero*/
header{
    background-color: #1f2937;
    color:white;
    text-align: center;
    padding:100px 20px
}
header h1{
    font-size: 3rem;
    margin-bottom: 15px;
}

section{
    background-color: white;
    margin:30px auto;
    padding: 30px;
    width:min(90%, 1000px);
    border-radius:10px;
}
h2{
    margin-bottom: 15px;
    color: #111827;
}

section div{
    background-color: #f9fafb;
    margin-top: 15px;
    padding: 20px;
    border-left: 5px solid #2563eb;
    border-radius:5px;
    transition: transform 0.3s ease;
}
section div:hover{
    transform: translateY(-5px);
}

#contact a {
    display:inline-block;
    margin-top:10px;
    text-decoration: none;
    color: white;
    background-color: #2563eb;
    padding: 10px 15px;
    border-radius: 50px;

}

#contact a:hover{
    background-color: #1d4ed8;
}


@media (max-width: 768px){
    nav{
        flex-direction:column;
        gap: 15px;
    }
    nav ul {
        flex-direction: row;
        align-items: center;
    }
    header h1{
        font-size: 2rem;
    }
    section{
        padding:20px;
    }

}
